{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block body %}
    <div style="text-align: center; padding: 50px;">
        <h1>En avant Guigant</h1>
        <p>
            <a href="{{ path('app_home') }}" style="color: #007bff; text-decoration: none; font-size: 1.2em;">
                Retour à l'accueil
            </a>
        </p>
    </div>
{% endblock %} 