# Fichiers système
.DS_Store
Thumbs.db

# Fichiers BD
mp.sql

# Fichiers de configuration sensibles
.env
.env.dev
.env.prod
k8s/prod/secrets.yaml
k8s/dev/secrets.yaml

# === Docker (si je montes des volumes ou crée des fichiers de build) ===
docker/data/
docker/mysql/
docker/redis/
docker/postgres/
docker/logs/

# PhpStorm / JetBrains
.idea/

# VSCode
.vscode/

# === Misc ===
*.log
*.cache
*.swp
*.swo

# === Composer ===
/symfony/composer.phar

# === npm / Yarn (si utilisé) ===
/symfony/package-lock.json
/symfony/yarn.lock

# archibe pour chatGPT
k8s.zip